doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre.min.css' integrity='sha512-9RIcp1f4CE6dEuYX9085tXaEbYd1ap04d2Av1ub/dwuT33WbfbHStDdQ+shKrp5wzZzleh5DOg+7ABSnaQP/nQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre-exp.min.css' integrity='sha512-tY+RWVuYs5HznuXWqssp/bTNsuc+bNEQ6wDew2s0u8cgPcyE0LNLHP+Hqh0sBlLJL7JiYz9vsXfEC2HLKQ6l2w==' crossorigin='anonymous' referrerpolicy='no-referrer')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.9/spectre-icons.min.css' integrity='sha512-p/19UB+ls7zsYqyFt0S+qh0P05ThDxzQSwtY4Jo01M4OG1ZkiEMHE942OZ4wh86sT5BIrFNhY3aLsQ5pTqVIzg==' crossorigin='anonymous' referrerpolicy='no-referrer')

    title BEARS LOVE
  body  
    block content